<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.FractionMapper">

    <select id="getFractionByUserId" parameterType="Integer" resultType="java.util.Map">
        select  u.*,f.mark  from  fraction f
        left join user u on u.id=f.user_id
        where f.user_id= #{id}
    </select>

    <insert id="addFraction" parameterType="com.example.demo.entity.Fraction" >
        insert into fraction (mark,user_id) values (#{mark},#{userId})
    </insert>


</mapper>